* {
    padding: 0;
    font-family: monospace;
}

h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 170, 170);
    font-weight: normal;
    text-align: center;
    font-size: 5vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 132);
}

.checkInput {
	flex-grow: 1;
	outline: none;
	font-size: 25px;
	margin: 5px 0px 5px 0px;
}

.winText {
    color: rgb(255, 255, 0);
    font-weight: normal;
    font-size: 3vh;
}

.loseText {
    color: rgb(255, 255, 0);
    font-weight: normal;
    font-size: 3vh;
}

.left {
    width: 43px;
    height: 43px;
    background-image: url(http://f0586911.xsph.ru/pics/left.png);
    margin-left:50px;
}

.right {
    width: 43px;
    height: 43px;
    background-image: url(http://f0586911.xsph.ru/pics/right.png);
    margin-left: 50px;
}

.up {
    width: 43px;
    height: 43px;
    background-image: url(http://f0586911.xsph.ru/pics/up.png);
    margin-left: 100px;
}

.down {
    width: 43px;
    height: 43px;
    background-image: url(http://f0586911.xsph.ru/pics/down.png);
    margin-left: 100px;
}

.taskAndRows{
    display: flex;
    align-items: center;
}